<h1>Recipe Index</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Country</th>
      <th>Preperation time</th>
      <th>Servings</th>
      <!-- <th>Direction</th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @receipes.each do |receipe| %>
      <tr>
        <td><%= receipe.title %></td>
        <td><%= receipe.country %></td>
        <td><%= receipe.preperation_time %></td>
        <td><%= receipe.servings %></td>
        <!-- <td><%= receipe.direction %></td> -->
        <td><%= link_to 'Show', receipe %></td>
        <td><%= link_to 'Edit', edit_receipe_path(receipe) %></td>
        <td><%= link_to 'Destroy', receipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receipe', new_receipe_path %>
